<!-- Footer -->
{% load static %}
<footer id="footer">
    <div class="inner">
        <section>
            <h2>Contact</h2>
            <ul class="icons">
                <li><a href="https://fr.linkedin.com/in/larrymotalavigne" class="icon style2 fa-linkedin"><span
                        class="label">Linkedin</span></a></li>
                <li><a href="https://github.com/Squalex" class="icon style2 fa-github"><span
                        class="label">GitHub</span></a></li>
                <li><a href="tel:0670424161" class="icon style2 fa-phone"><span class="label">Phone</span></a></li>
                <li><a href="mailto:larry.motalavigne@gmail.com" class="icon style2 fa-envelope-o"><span
                        class="label">Email</span></a></li>
            </ul>
        </section>
        <ul class="copyright" style="color:black">
            <li>&copy;2016 - Larry Mota--Lavigne. All rights reserved</li>
        </ul>
    </div>
</footer>


<div class="loader">
    <svg viewBox="0 0 32 32" width="32" height="32">
        <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
</div>